# Datové typy

![Python data structure](https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg)
*Obrázek z webu GeeksForGeeks: https://www.geeksforgeeks.org/python-data-types/*

Python je dynamicky typovaný, objektově orientovaný jazyk s garbage collection. Všechno je objekt (více než adresované místo v paměti, jako např. v C)

Každá proměnná má `value`, `type` a `id`.

In [3]:
a = 200
b = 200
print(a, type(a), id(a))
print(b, type(b), id(b))

200 <class 'int'> 140538737629648
200 <class 'int'> 140538737629648

In [4]:
x = 1 + 2.0
print(type(x))

<class 'float'>

In [5]:
x = 1
y = float(x)
print(y, type(y))

1.0 <class 'float'>

In [6]:
a = int(1.6)
print(a, type(a))

1 <class 'int'>

In [12]:
a = bool("")
print(a, type(a))

False <class 'bool'>

## Mutability vs immutability

In [14]:
a = 4567
print(a, id(a))
a += 1 # a = a + 1
print(a, id(a))

4567 140538684829040
4568 140538684829008

In [16]:
a = 400
b = a
a is b # to same jako id(a) == id(b)
a += 1
a is b

False

In [19]:
a = [1, 2, 3]
b = a


print(a is b)
a.append(4)
print(a is b)
print(a, b)

True
True
[1, 2, 3, 4] [1, 2, 3, 4]

In [20]:
a = [1, 2, 3]
b = list(a)


print(a is b)
a.append(4)
print(a is b)
print(a, b)

False
False
[1, 2, 3, 4] [1, 2, 3]

In [27]:
def process(x, lst=[]):
    # processing of x
    lst.append(x)
    return lst

lst1 = process(4)
lst2 = process(3)
lst1 is lst2, lst1, lst2

(True, [4, 3], [4, 3])

- mutable: list, set, dict
- immutable: int, float, bool, string, complex, frozen set, tuple, range

## Funkce jsou first class citizen

In [31]:
def add(a, b):
    return a + b

f = add

f(1, 2)

3

In [33]:
def do_something_with_x(x, something):
    return something(x)

def something(x):
    return 2 * x

do_something_with_x(5, something)

10

## Počítač neumí počítat


### Historické okénko, teplota a úskalí floating point aritmetiky

Německý fyzik Gabriel Fahrenheit navrhl teplotní stupnici se dvěma skvěle zvolenými referenčními body. Teplota 0 °F je nejnižší teplota, jakou se podařilo Fahrenheitovi naměřit (v roce 1724) ve směsi chloridu amonného, vody a ledu. Druhým referenčním bodem pak je *normální* teplota lidského těla, fixovaná na 98 °F. Nyní se jako referenční body používají bod mrazu vody (32 °F) a bod varu vody (212 °F), čemuž odpovídají převodní vztahy

$$
 T_C = (T_F - 32) \frac{5}{9}
$$

$$
 T_F = \frac{9}{5} T_C + 32
$$

In [35]:
def get_celsius(tf):
    return (tf - 32.) * 5./9.

def get_celsius2(tf):
    return tf * 5./9. - 32. * 5./9.

tf = 32.6
tc1 = get_celsius(tf)
tc2 = get_celsius2(tf)

print(tc1)
print(tc2)

0.33333333333333415
0.33333333333333215

In [38]:
abs(tc1 - tc2) < 1e-13

True

In [37]:
0.1 + 0.2 == 0.3
0.1 + 0.2

0.30000000000000004

## Podminky

In [40]:
statement = True
if statement:
    pass

In [42]:
1 > 1

False

## Prvocisla

prvocislo, je cislo vetsi nez 1, ktere je delitelne pouze sebou a 1.

In [43]:
def is_prime(n):
    pass

# is_prime(5) -> True
# is_prime(6) -> False
# % - modulo
5 % 2

def get_primes(numbers):
    pass

# get_primes([1, 2, 3, 4, 5, 6]) -> [2, 3, 5]

1

In [48]:
def is_prime(n):
    if (n > 1):
        for i in range(2, n):
            if (n % i) == 0:
                return False
        return True
    else:
        return False
    
def get_primes(numbers):
    primes = []
    for i in range(len(numbers)):
        num = numbers[i]
        if (is_prime(num) == True):
            primes.append(num)
        else:
            continue
    return primes

get_primes([1, 2, 3, 4, 5, 6])

3

In [52]:
def is_prime(n):
    if n <= 1:
        return False
    
    for i in range(2, n):
        if (n % i) == 0:
            return False
    return True

def get_primes(numbers): # neco jako: filter(is_prime, numbers)
    primes = []
    for num in numbers:
        if is_prime(num):
            primes.append(num)
    return primes

is_prime(13), get_primes([1, 2, 3, 4, 5, 6])

(True, [2, 3, 5])

In [54]:
def is_prime(n):
    if n <= 1:
        return False
    
    for i in range(2, n):
        if (n % i) == 0:
            return False
    return True

def get_primes(numbers): # neco jako: filter(is_prime, numbers)
    return list(filter(is_prime, numbers)) # very pythonic, funkcionalni pristup (functional programming)

is_prime(13), get_primes([1, 2, 3, 4, 5, 6])

(True, [2, 3, 5])

## Formatovany vystup

In [56]:
# c-style formatting - (deprecated)

x = 2
y = 4.4
z = "lenochod"

out_str = "x=%d, y=%f, z=%s" % (x, y, z)

print(out_str)

x=2, y=4.400000, z=lenochod

In [57]:
# .format 

x = 2
y = 4.4
z = "lenochod"

out_str = "x={}, y={}, z={}".format(x, y, z)

print(out_str)

x=2, y=4.4, z=lenochod

In [61]:
# f-string

x = 2
y = 4.4
z = "lenochod"

out_str = f"x={x:+05d}, y={y:010.7f}, z={z}"

print(out_str)

x=+0002, y=04.4000000, z=lenochod

In [ ]:
def get_receipt(nakup: dict, width=50) -> str:
    pass

nakup = {
    "rohliky": 40,
    "pivo": 1200
}

==================== ÚČTENKA =====================
rohliky......................................40.00
pivo.......................................1200.00
--------------------------------------------------
Celkem (Kc)
                                           1240.00
    
# f-stringy
# string methods: ljust, rjust, center